In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("cars - cars.csv")
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   brand          8128 non-null   object
 1   km_driven      8128 non-null   int64
 2   fuel           8128 non-null   object
 3   owner          8128 non-null   object
 4   selling_price  8128 non-null   int64
dtypes: int64(2), object(3)
memory usage: 317.6+ KB

In [5]:
df['fuel'].unique()

array(['Diesel', 'Petrol', 'LPG', 'CNG'], dtype=object)

In [32]:
new_df = pd.get_dummies(df,columns=['fuel','owner'])

In [33]:
df.shape

(8128, 5)

In [34]:
new_df.shape

(8128, 12)

In [7]:
#Dummy variable trap

In [8]:
from sklearn.preprocessing import OneHotEncoder

In [10]:
ohe = OneHotEncoder(drop='first',sparse=False,dtype=np.int32)

In [17]:
x_train_new = ohe.fit_transform(df[['fuel','owner']])

In [18]:
x_train_new

array([[1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 1, 0, 0],
       [0, 0, 1, ..., 0, 0, 1],
       ...,
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0]])

In [19]:
from sklearn.preprocessing import LabelEncoder

In [20]:
le = LabelEncoder()

In [24]:
le_new = le.fit_transform(df['fuel'])

In [25]:
pd.DataFrame(le_new)

      0
0     1
1     1
2     3
3     1
4     3
...  ..
8123  3
8124  1
8125  1
8126  1
8127  1

[8128 rows x 1 columns]